@font-face {
    font-family: cond-pro-regular;
    src: url("/web/fonts/PF.ttf"); }
body {
    background: url(../img/background.png);
    font-family: cond-pro-regular;
    background-size: cover;
    overflow: hidden;
}

p {
    color: #fff;
    font-size: 78px;
    text-align: left;
    margin-top: 83px;
    font-weight: 300;
    padding-left: 87px;
    padding-bottom: 80px;
    text-transform: uppercase; }

td {
    padding-left: 20px;
    color: #fff;
    line-height: 61px; }

.line-height td {
    line-height: 25px !important;
}

.selected .car_mark {
    color: #d5d019; }

.selected .tax_name {
    color: #ffde14; }

.selected .direction {
    font-size: 0px;
    padding-left: 0px;
    color: #ffde14; }

.direction {
    font-size: 0px;
    width: 0px;}

.selected .cost {
    /*font-size: 80px;*/
    padding-left: 95px;
    /*width: ;*/
    color: #d5d019; }

.car_info:hover{
    cursor: pointer;
}

.star{
    padding-left: 180px;
    width: 20px;
    font-size: 55;
    /*text-align: right;*/
}

.button:hover{
    background-color:yellow;
    color: black;
    cursor: pointer;
}

.span-point{
    font-size: 150pt;
}

.car_mark {
    padding-left: 20px;
    font-size: 50px;
    width: 600px; }

.tax_name {
    font-size: 55px;
    padding-left: 41px;
    width: 400px; }

.cost {
    font-size: 45px;
    padding-left: 95px;
    position: relative;
    z-index: 9999999999;
}

.nom {
    font-size: 21px;
    padding-left: 2px; }

.nom .selected {
    color: #ffde14;

    font-size: 21px; }

.bordered {
    border-right: 5px solid #20495a; }

.cars {
    margin-left: 70px;
    z-index: 9;
    position: relative; }

.content {
    overflow: auto;
    position: relative;
    height: 600px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.border {
    height: 60px;
    width: 1256px;
    border: 5px;
    position: fixed;
    top: 229px;
    right: 0;
    left: -42px;
    margin: auto;
    z-index: 12;
    cursor: pointer;}

.border_1 {
    height: 60px;
    width: 1256px;
    position: fixed;
    top: 500px;
    right: 0;
    left: -42px;
    margin: auto;
    background: url(../img/1.png);
    z-index: 0; }

.border_2 {
    height: 60px;
    width: 1256px;
    position: fixed;
    top: 370px;
    right: 0;
    left: -42px;
    margin: auto;
    background: url(../img/2.png);
    z-index: 0; }

.border_3 {
    height: 60px;
    width: 256px;
    border: 5px;
    position: fixed;
    top: 229px;
    right: -1005px;
    left: -42px;
    margin: auto;
    z-index: 999;
    cursor: pointer;
    border-left: none;

}

.1000 {
    font-size: 48px;
}

.container {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0,32,50,0);
    background: -moz-linear-gradient(top, rgba(0,32,50,0) 0%, rgba(0,80,107,1) 89%, rgba(0,75,98,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,32,50,0)), color-stop(89%, rgba(0,80,107,1)), color-stop(100%, rgba(0,75,98,1)));
    background: -webkit-linear-gradient(top, rgba(0,32,50,0) 0%, rgba(0,80,107,1) 89%, rgba(0,75,98,1) 100%);
    background: -o-linear-gradient(top, rgba(0,32,50,0) 0%, rgba(0,80,107,1) 89%, rgba(0,75,98,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,32,50,0) 0%, rgba(0,80,107,1) 89%, rgba(0,75,98,1) 100%);
    background: linear-gradient(to bottom, rgba(0,32,50,0) 0%, rgba(0,80,107,1) 89%, rgba(0,75,98,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002032', endColorstr='#004b62', GradientType=0 );
    z-index: 999;
}

.card_modal {
    position: absolute;
    height: 100%;
    width: 1350px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #00445e;
    z-index: 999999;
    padding-top: 120px;
    padding-left: 101px;


}

.car_mark_card {
    color: #fff;
    font-size: 75px;
}

.driver_info {
    color: #fff;
    font-size: 43px;
    margin-top: 12px;
    margin-bottom: 54px;
}

.driver_avatar {
    border: 5px solid rgba(255,255,255,.5);
    border-radius: 10%;
    float: left;
    margin-right: 41px;
}

.driver_name {
    color: #fff;
    line-height: 49px;
    font-size: 28px;
    margin-top: -17px;
}

.experience {
    color: #fefb00;
    line-height: 49px;
    font-size: 25px;
}

.2_col {
      float: right;
  }

.car_information {
    color: #fff;
    font-size: 43px;
    margin-top: 13px;
}

.stars {
    height: 21px;
    width: 112px;
    background: url(../img/stars.png);
    background-size: 100%;
}

.book {
    height: 60px;
    width: 214px;
    border-radius: 12px;
    background: #d7d119;
    color: #002133;
    font-size: 21px;
    text-align: center;
    opacity: .9;
    cursor: pointer;
}

.book:hover {
    opacity: 1;
}

.table_book {
    margin-top: 64px;
    margin-left: -16px;
}

.car1, .car2 {
    width: 212px;
}

.car_screens {
    margin-top: 38px;
}

.table_car {
    margin-top: 18px;
    margin-bottom: 3px;
}

.table_car td {
    color: #fff;
    line-height: 48px;
    font-size: 22px;
    padding-left: 0;
}

.table_car tr td:last-child{
    padding-left: 5px;
}

.pr_1, .pr_2 {
    color: #fff;
    border: 2px solid #fff;
    padding: 12px;
    border-radius: 18px;
    display: inline-block;
    font-size: 22px;
    margin-top: 4px;
    margin-right: 3px;
}

.pr_3 {
    color: #fff;
    border: 2px solid #fff;
    padding: 12px;
    border-radius: 5px;
    display: inline-block;
    font-size: 22px;
    border-radius: 18px;
    margin-top: 4px;
    margin-right: 3px;
}

.close {
    background: url(../img/close_1.png);
    width: 27px;
    height: 26px;
    position: absolute;
    right: 114px;
    top: 108px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    cursor: pointer;
}

.mini-close {
    background: url(../img/close_1.png);
    width: 27px;
    height: 26px;
    position: absolute;
    right: 50px;
    top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    cursor: pointer;
}

.close:hover {
    opacity: 1;
}

.question {
    color: #fff;
    font-size: 25px;
    margin-top: 21px;
}

.definition {
    color: #fff;
    margin-top: 15px;
    font-size: 20px;
    line-height: 26px;
}

.dialog_price {
    color: #d7d119;
}

.yep {
    color: #002133;
    background: #d7d119;
    display: inline-block;
    margin-top: 27px;
    padding: 16px;
    width: 165px;
    border-radius: 14px;
    text-align: center;
    margin-right: 26px;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.yep:hover {
    opacity: .9;
}

.nope {
    color: #d7d119;
    border: 2px solid #d7d119;
    background: transparent;
    display: inline-block;
    padding: 16px;
    width: 165px;
    border-radius: 14px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}



.card_modal {
    display: none;
}

.modal_ask {
    height: auto;
    width: 450px;
    background: #002137;
    z-index: 9999999;
    position: absolute;
    top: 30%;
    left: 30%;
    padding: 71px;
    display: none;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}


