@font-face
{
    font-family: cond-pro-regular;
    src: url("/web/fonts/PF.ttf");
}

html
{

}

body
{
    font-family: cond-pro-regular;
    background: url("/web/img/background.png");
    background-size: cover;
}

table {
    color: white;
    font-size: 35px;
}

.button {
    color: #fff;
    border: 2px solid #fff;
    padding: 12px;
    border-radius: 18px;
    display: inline-block;
    font-size: 22px;
    margin-top: 4px;
    margin-right: 3px;
}

.button:hover{
    background-color:yellow;
    color: black;
    cursor: pointer;
}

.table tr, .table th, .table td{
    border: none !important;
}

.table td:not(:last-child) {
    font-size: 150%;
    line-height: 100%;
    vertical-align: middle !important;
    word-wrap: break-word;
    word-break: break-all;
}

.table td:nth-child(1)
{
    width:15%;
}

.table td:nth-child(2)
{
    width:20%;
    word-break: normal !important;
}

.table td:nth-child(3)
{
    width:15%;
}

.table td:nth-child(4)
{
    width:15%;
}

.table td:nth-child(5)
{
    width:15%;
}

.table td:nth-child(6)
{
    width:15%;
}

.table td:nth-child(7)
{
    width:5%;
}

.itemfocus {
    color: yellow;
    cursor: pointer;
}

.main {
    padding: 50px;
    margin: 0 auto;
    max-width:1900px;
}

.modal{
    color: white;
    background: rgba(0, 55, 76, .6);
    background: #00445e;
    width: 75%;
    height:100%;
    max-height: 800px;
    max-width: 1080px;
    margin: auto auto;
    font-size: 22px;
}

.title {
    color:white;
    text-transform: uppercase;
    font-size: 72px;
}

.info {
    font-size: 43px;
}

.close {
    position: absolute;
    color:yellow;
    right: 30px;
    top: 30px;
    font-size:45px;
    opacity:2;
}

.lines {
    line-height: 48px;
}

.book {
    height: 60px;
    width: 214px;
    line-height: 60px;
    border-radius: 12px;
    background: #d7d119;
    color: #002133;
    font-size: 21px;
    opacity: .9;
    text-align: center;
    cursor: pointer;
}

.book:hover {
    opacity: 1;
}

.name {
    font-size:24px;
}

.stars{
    text-align: center;
    line-height: 60px;
}

.stars-yellow {
    color:yellow;
}

.span_point {
    font-size: 55pt;
}

#driver_image {
    border: 5px solid rgba(255,255,255,.5);
    border-radius: 10%;
    width: 200px;
}

#car_outside_image {
    /*border: 5px solid rgba(255,255,255,.5);*/
    /*border-radius: 10%;*/
    width: 200px;
}

#car_inside_image {
    /*border: 5px solid rgba(255,255,255,.5);*/
    /*border-radius: 10%;*/
    width: 200px;
}

#experience {
    color:yellow;
    font-size:24px;
}

#car_name {
    margin: 15px;
    font-size: 45px;
    font-weight: bold;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.modal_ask {
    height: auto;
    width: 550px;
    background: #002137;
    z-index: 9999999;
    position: fixed;
    top: 30%;
    left: 30%;
    padding: 71px;
    display: none;
    font-size: 24px;
}

.nope {
    color: #d7d119;
    border: 2px solid #d7d119;
    background: transparent;
    display: inline-block;
    padding: 16px;
    width: 165px;
    border-radius: 14px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.mini-close {
    background: url(../img/close_1.png);
    width: 27px;
    height: 26px;
    position: absolute;
    right: 50px;
    top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .9;
    cursor: pointer;
}

#review {
    color: yellow;
}